.cell {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;

  &__input {
    color: #6495ed;
    border: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
