@import "~normalize.css/normalize.css";

html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.sudoku-monster {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;

  &__banner {
    display: flex;
    justify-content: center;
    width: 100%;

    background: #9671ed;
    color: white;
  }
}
